@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-12 px-6 sm:py-16 py-8;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}

.switch[data-isOn="true"] {
  @apply justify-end;
}

.card {
  width: 364px;
  height: 486px;
  /* background: #171717; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 3px 1px #00000088;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.card .content {
  border-radius: 5px;
  background: #171717;
  width: 356px;
  height: 479px;
  z-index: 1;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card::before {
  opacity: 0;
  content: " ";
  position: absolute;
  display: block;
  width: 230px;
  height: 689px;
  background: linear-gradient(
    90deg,
    transparent,
    #ff2288,
    #387ef0,
    transparent
  );
  transition: opacity 300ms;
  animation: rotation_1 3000ms infinite linear;
  animation-play-state: paused;
}

.card:hover::before {
  opacity: 1;
  animation-play-state: running;
}

@keyframes rotation_1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
